<nav>
    <div class="site-title">
        <a href="/"><h1>Minecraft Blogs</h1></a>
        <p>Vanilla Edition</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>