<!DOCTYPE html>
<html lang="en">

<%-include("./partials/header.ejs") %> 

<body>

    <%-include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt rerum id suscipit possimus laborum aspernatur maiores quas mollitia dolore nihil at culpa tenetur totam quis, et illo aliquam dolor reprehenderit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eligendi, nobis totam aperiam magnam omnis voluptatum! Reiciendis, animi doloribus tempore et explicabo quam ad beatae totam delectus facilis ipsa quis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, doloribus molestias molestiae dolorum fuga cum cumque voluptas mollitia soluta, optio nam iure possimus fugit rem eligendi facere sunt? Ullam, ratione?</p>
    </div>

    <%-include("./partials/footer.ejs") %>

</body>
</html>
